<div class="user_form">
  <h1 class="text-center">Create New Note</h1>
  <%= render 'form' %>
  <div class="links mt-3">
    <%= link_to 'Back to Notes', notes_path, class: "back-link" %>
  </div>
</div>
